<!DOCTYPE html>
<html>

    <head>

        <title>Help</title>
         <link rel="icon" href="/images/panocean-logo.jpg">
<link rel="stylesheet" href="/css/styles.css"
    <script src="/src/app.js"></script>

    </head>
<body>
<div class="main-content">

  {{>header}} 

<img src="images/theIcon.png" alt="">
<img src="images/hand-image.jpg" alt="">




</div>
 
 {{>footer}} 

</body>




</html>