<link rel="stylesheet" href="/css/styles.css">
<div class="ti"><h2 >{{title}}</h2> 
    <img  width="45" src="/images/panocean-logo.jpg" alt="cannot not find the image">
</div>
  
<header>
     

        
   
    
<div class="main-content">

<a href="/">weather</a>
<a href="/About">About</a>
<a href="/help">HELP</a>
<a href="/login">Log in </a>
</div>

</header>